body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Heather section */

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: white;
    padding-bottom: 50px;
    gap: 140px;
}
.headerlogo {
    font-weight: bold;
}

.headerlinks {
    display: flex;
    gap: 8px;
    list-style: none;
}

a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color:lightcoral;
}

/* About section */

.about {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

.abouthead {
    height: 300px;
    width: 400px;
}

.aboutsecond {
    height: 250px;
    width: 400px;
    background-color: grey;
}

.aboutbutton {
    color: white;
    background-color: #3882f6;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 25px;
    font-size: 15px;
}

/* Information */

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

/* Sub Information */

.subinformation {
    display: flex;
height: 120px;
padding-bottom: 50px;
gap: 80px;
justify-content: center;
}

.subinformationdiv {
    height: 100px;
    width: 100px;
    border:2px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}
.subinformationtext {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    font-size: 10px;
    text-align: center;
}

/* Section quote */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 400px;
    padding-right: 400px;
}

.quotetext {
    font-size: 20px;
    font-style: italic ;
    font-weight: lighter;
    color: #1f2937;
    padding-bottom: 5px;
}

.quotesign {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

/* Action Call section */

.actioncall {
    background-color: #3882f6;
    margin-top: 30px;
    margin-bottom: 30px;
    border:2px;
    border-style: none;
    color: white;
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.actioncallhead {
    font-weight: bold;
    margin-bottom: 0px;
}

.actioncall > div > p {
   margin: 0px;
}

.actioncall > button {
    background-color: #3882f6;
    border-radius: 4px;
    border-style: solid;

    border-color: white;
    width: 80px;
    height: 25px;
    font-size: 15px;
    color: white;
}